{% extends "boilerplate.njk" %}
{% block body %}

<h1>Sponsorship</h1>

<div>
  <h2>Sponsoring The Haskell Foundation</h2>

  <p>
    Many enterprises use Haskell and its compiler, the Glasgow Haskell Compiler (GHC), for free. In the spirit of open source, the Haskell Foundation provides an opportunity for those enterprises to give back to the community and toolchain from which they benefit. Maintaining and developing reliable toolchains take a huge amount of nitty-gritty engineering work.
  </p>
  <p>
    Contributions to the Haskell Foundation are tax-deductible where applicable, and are used to sponsor our open source initiatives that ensure that research and development continues at the same world-class pace for years to come.
  </p>
  <p>
    If you or your organization might interested in sponsoring the Haskell Foundation please contact us at sponsorship@haskell.foundation to start the conversation.
  </p>

  <h2>Enterprise Support Tiers</h2>
  <div>
      {% for tier in pages.sponsorship.tiers %}
        <div>
          <div>
            {% for star in tier.stars %}
              <div>star</div>
            {% endfor %}
          </div>
          <h3>{{tier.name}}</h3>
          <div>{{tier.amount}}</div>
          <p>
            {{tier.description}}
          </p>
        </div>
      {% endfor %}
  </div>
</div>

<div>
  <h2>In-Kind Support</h2>
  <p>
    Non-financial contributions to HF are also welcome. As a volunteer-based organization, the Haskell Foundation needs volunteers who can work on software, documentation, promotion, and other tasks to support the HF affiliated projects and the Haskell community. Individuals who contribute their own time or on behalf of their company are the backbone of our organization. Please reach out to us at contact@haskell.foundation to learn more about how you can volunteer or offer in-kind support.
  </p>
</div>

{% endblock %}
