{% extends "boilerplate.njk" %}
{% block body %}

<h1>Contact</h1>

<div>
  <div>
    <h2>General Information</h2>
    <p>For general information or volunteer opportunites, please email us:</p>
    <a href="">>> contact@haskell.foundation</a>
  </div>
  <div>
    <h2>Sponsorship</h2>
    <p>Does your company use Haskell? Email us to join the conversation with other enterprise users of Haskell.</p>
    <a href="">>> sponsorship@haskell.foundation</a>
  </div>
</div>

{% include "partials/follow-hf-developments.njk" %}
  
{% endblock %}
