{% import "partials/components.njk" as components %}

{% extends "boilerplate.njk" %}
{% block body %}

{{ components.simpleSection("Contact") }}

<div class="max-w-screen-xl mx-auto">
  <div class="grid gap-8 lg:grid-cols-2">
    {{ components.grayBoxSimple("General Information", "For general information or volunteer opportunites, please email us:", ">> contact@haskell.foundation", "mailto:contact@haskell.foundation") }}
    {{ components.grayBoxSimple("Sponsorship", "Does your company use Haskell? Email us to join the conversation with other enterprise users of Haskell.", ">> sponsorship@haskell.foundation", "mailto:sponsorship@haskell.foundation") }}
  </div>
</div>

<div class="mt-12">
  {% include "partials/follow-alternate.njk" %}
</div>
  
{% endblock %}
