/*
 * All global styles should go in this file. It is not processed by tailwind
 *
 * These either don't exist in tailwind, or were modified manually from the
 * tailwind output at some point
 */

.prose code {
  font-family: monospace;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

a {
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgba(109, 40, 217, var(--tw-text-opacity));
}

a:hover {
  text-decoration: underline;
}

a:hover,
a:visited {
  --tw-text-opacity: 1;
  color: rgba(139, 92, 246, var(--tw-text-opacity));
}

.arrow-link {
  --tw-border-opacity: 1;
  border-color: rgba(109, 40, 217, var(--tw-border-opacity));
}

.arrow-link:hover {
  --tw-border-opacity: 1;
  border-color: rgba(139, 92, 246, var(--tw-border-opacity));
}

.arrow-link {
  border-bottom-width: 3px;
  line-height: 2.25rem;
  padding-bottom: 0.25rem;
}

.arrow-link:hover {
  text-decoration: none;
}

.arrow-link {
  font-family: Fira Code;
}

.arrow-link.light {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.arrow-link.light:hover {
  --tw-border-opacity: 1;
  border-color: rgba(161, 161, 170, var(--tw-border-opacity));
}

.arrow-link.light {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.arrow-link.light:hover {
  --tw-text-opacity: 1;
  color: rgba(161, 161, 170, var(--tw-text-opacity));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Playfair Display, serif;
  font-weight: 700;
}

.prose {
  color: #3f3f46;
  max-width: 65ch;
}

.prose [class~="lead"] {
  color: #52525b;
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose a {
  color: #7e22ce;
  text-decoration: none;
  font-weight: regular;
}

.prose strong {
  color: #18181b;
  font-weight: 600;
}

.prose ol > li:before {
  content: counter(list-item, var(--list-counter-style, decimal)) ".";
  color: #71717a;
  left: 0;
}

.prose ul > li:before {
  background-color: #7e22ce;
}

.prose hr {
  border-color: #e4e4e7;
}

.prose blockquote {
  color: #18181b;
  border-left-color: #e4e4e7;
}

.prose h1 {
  color: #18181b;
}

.prose h2 {
  color: #18181b;
  font-weight: 400;
}

.prose h3,
.prose h4 {
  color: #18181b;
}

.prose figure figcaption {
  color: #71717a;
}

.prose a code {
  color: #18181b;
}

.prose pre {
  color: #e4e4e7;
  background-color: #27272a;
}

.prose pre code:after,
.prose pre code:before {
  content: none;
}

.prose thead {
  color: #18181b;
  border-bottom-color: #d4d4d8;
}

.prose p {
  color: #3f3f46;
}

.prose ol,
.prose ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose li {
  color: #3f3f46;
}

* {
  --tw-ring-inset: var(--tw-empty);
}

.divide-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(2px * (1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(2px * var(--tw-divide-y-reverse));
}

.text-xl-2xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media (min-width: 640px) {
  .text-xl-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.text-2xl-5xl {
  font-size: 1.5rem;
  line-height: 2rem;
  line-height: 1.375;
}
@media (min-width: 640px) {
  .text-2xl-5xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
    line-height: 1.25;
  }
}
@media (min-width: 768px) {
  .text-2xl-5xl {
    font-size: 3rem;
    line-height: 1;
    line-height: 1.25;
  }
}
.text-2xl-4xl {
  font-size: 1.5rem;
  line-height: 2rem;
  line-height: 1.375;
}
@media (min-width: 768px) {
  .text-2xl-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
    line-height: 1.25;
  }
}
.text-3xl-4xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
  line-height: 1.375;
}
@media (min-width: 768px) {
  .text-3xl-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
    line-height: 1.25;
  }
}
.text-3xl-5xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
  line-height: 1.375;
}
@media (min-width: 640px) {
  .text-3xl-5xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
    line-height: 1.25;
  }
}
@media (min-width: 768px) {
  .text-3xl-5xl {
    font-size: 3rem;
    line-height: 1;
    line-height: 1.25;
  }
}
.text-3xl-6xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
  line-height: 1.375;
}
@media (min-width: 640px) {
  .text-3xl-6xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
    line-height: 1.25;
  }
}
@media (min-width: 768px) {
  .text-3xl-6xl {
    font-size: 3rem;
    line-height: 1;
    line-height: 1.25;
  }
}
@media (min-width: 1024px) {
  .text-3xl-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}
.text-4xl-6xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
  line-height: 1.375;
}
@media (min-width: 640px) {
  .text-4xl-6xl {
    font-size: 3.75rem;
    line-height: 1;
    line-height: 1.25;
  }
}
p {
  --tw-text-opacity: 1;
  color: rgba(113, 113, 122, var(--tw-text-opacity));
}
.youtube-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
