<div class="max-w-screen-xl mx-auto py-16 md:py-24">
  <div class="sm:px-6 lg:px-16">
    <div class="relative">
      <div class="absolute top-0 left-0 border-t border-l border-purple-50 h-10 md:h-20 w-10 md:w-20">
        <div
          class="absolute top-1 md:top-2 left-1 md:left-2 border-t border-l border-purple-100 h-10 md:h-20 w-10 md:w-20">
          <div
            class="absolute top-1 md:top-2 left-1 md:left-2 border-t border-l border-purple-200 h-10 md:h-20 w-10 md:w-20">
            <div
              class="absolute top-1 md:top-2 left-1 md:left-2 border-t border-l border-purple-300 h-10 md:h-20 w-10 md:w-20">
              <div
                class="absolute top-1 md:top-2 left-1 md:left-2 border-t border-l border-purple-400 h-10 md:h-20 w-10 md:w-20">
                <div
                  class="absolute top-1 md:top-2 left-1 md:left-2 border-t border-l border-purple-500 h-10 md:h-20 w-10 md:w-20">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute top-0 right-0 border-t border-r border-purple-50 h-10 md:h-20 w-10 md:w-20">
        <div
          class="absolute top-1 md:top-2 right-1 md:right-2 border-t border-r border-purple-100 h-10 md:h-20 w-10 md:w-20">
          <div
            class="absolute top-1 md:top-2 right-1 md:right-2 border-t border-r border-purple-200 h-10 md:h-20 w-10 md:w-20">
            <div
              class="absolute top-1 md:top-2 right-1 md:right-2 border-t border-r border-purple-300 h-10 md:h-20 w-10 md:w-20">
              <div
                class="absolute top-1 md:top-2 right-1 md:right-2 border-t border-r border-purple-400 h-10 md:h-20 w-10 md:w-20">
                <div
                  class="absolute top-1 md:top-2 right-1 md:right-2 border-t border-r border-purple-500 h-10 md:h-20 w-10 md:w-20">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="text-center pt-12 md:pt-20 px-12 sm:px-16 md:px-24 lg:px-36 ">
    <h1 class="text-2xl-5xl">News</h1>
  </div>
</div>
<!-- 
<div class="max-w-screen-xl mx-auto py-16 md:py-24">
  <h2 class="text-2xl-4xl font-normal text-center">July 30, 2021</h2>
  $partial("templates/news/tile.html")$
</div>
<div class="max-w-screen-xl mx-auto py-16 md:py-24">
  <h2 class="text-2xl-4xl font-normal text-center">June 30, 2021</h2>
  $partial("templates/news/tile.html")$
</div>

<div class="max-w-screen-xl mx-auto py-16 md:py-24">
  <h2 class="text-2xl-4xl font-normal text-center">May 28, 2021</h2>
  $partial("templates/news/tile.html")$
</div>

<div class="max-w-screen-xl mx-auto py-16 md:py-24">
  <h2 class="text-2xl-4xl font-normal text-center">April 29, 2021</h2>
  $partial("templates/news/tile.html")$
</div>

<div class="max-w-screen-xl mx-auto py-16 md:py-24">
  <h2 class="text-2xl-4xl font-normal text-center">March 19, 2021</h2>
  $partial("templates/news/tile.html")$
</div>

<div class="max-w-screen-xl mx-auto py-16 md:py-24">
  <h2 class="text-2xl-4xl font-normal text-center">February 9, 2021</h2>
  $partial("templates/news/tile.html")$
</div>

<div class="max-w-screen-xl mx-auto py-16 md:py-24">
  <h2 class="text-2xl-4xl font-normal text-center">February 1, 2021</h2>
  $partial("templates/news/tile.html")$
</div>

<div class="max-w-screen-xl mx-auto py-16 md:py-24">
  <h2 class="text-2xl-4xl font-normal text-center">December 7, 2020</h2>
  $partial("templates/news/tile.html")$
</div> -->
$for(news)$
<div class="max-w-screen-xl mx-auto py-16 md:py-24">
  <h2 class="text-2xl-4xl font-normal text-center">$date$</h2>

  <div class="grid gap-12 lg:grid-cols-2">
    $partial("templates/news/tile.html")$
  </div>
</div>
$endfor$
