<div class="max-w-screen-xl mx-auto py-16 md:py-24">
    <div class="text-center pt-12 md:pt-20 px-12 sm:px-16 md:px-24 lg:px-36 ">
      <h1 class="text-2xl-5xl">$title$</h1>
    </div>

    <div class="max-w-screen-xl mx-auto">
        <div class="px-4 sm:px-8 md:px-12 lg:px-16">
            <div class="mx-auto prose md:prose-lg">
                <div class="max-w-screen-xl mx-auto grid gap-8 lg:grid-cols-2 md:px-12 bg-gray-100">
                    <div class="text-lg"><strong>Posted:</strong> </div>
                    <div class="text-lg"><strong>Status:</strong> </div>
                </div>
                $body$
            </div>
        </div>
    </div>
</div>
