<div class="bg-gray-100 px-6 sm:px-12 py-12">
    <div class="space-y-4">
      <h2 class="font-normal text-2xl-4xl">$title$</h2>
      <p>$summary$</p>
      <div class="text-sm sm:text-base">
        <a class="arrow-link" href="$link$" target="_blank">>> $link-text$</a>
      </div>
      <div class="uppercase font-medium text-gray-500 pt-4">$subtitle$</div>
    </div>
    <div class="divide-y-2">
    <div class="flex items-center py-4 space-x-6">
      $if(leader0name)$
        <div class="h-12 w-12 bg-gray-200 rounded-full flex items-center justify-center">
            <img src="$leader0img$" alt="$leader0name$">
        </div>
        <div>
          <div class="font-medium">$leader0name$</div>
          <a class="block" href="mailto:$leader0mail$">$leader0mail$</a>
        </div>
      $else$
        <div class="h-12 w-12 bg-gray-200 rounded-full flex items-center justify-center">
          <div class="fas fa-user text-gray-400 text-3xl"></div>
        </div>
        <div>
          <div class="font-medium">In Need of a Leader!</div>
          <a class="block" href="mailto:volunteer@haskell.foundation">volunteer@haskell.foundation</a>
        </div>
      $endif$
      $if(leader1name)$
        <div class="h-12 w-12 bg-gray-200 rounded-full flex items-center justify-center">
          <img src="$leader1img$" alt="$leader1name$">
        </div>
        <div>
          <div class="font-medium">$leader1name$</div>
          <a class="block" href="mailto:$leader1mail$">$leader1mail$</a>
        </div>
      $endif$
      $if(leader2name)$
        <div class="h-12 w-12 bg-gray-200 rounded-full flex items-center justify-center">
          <img src="$leader2img$" alt="$leader2name$">
        </div>
        <div>
          <div class="font-medium">$leader2name$</div>
          <a class="block" href="mailto:$leader2mail$">$leader2mail$</a>
        </div>
      $endif$
    </div>
  </div>
