{% import "partials/components.njk" as components %}

{% extends "boilerplate.njk" %}
{% block body %}
  
{{ components.simpleSection("Haskell Foundation Governance") }}

{% call components.articleContent() %}
  <p>The Haskell Foundation needs a strong, effective, and legitimate board. This note describes how we plan to bootstrap the governance structure of the Foundation.</p>

  <h2>Interim Board</h2>
  <p>We propose to appoint a small Interim Board, with the following mission:</p>

  <ul>
    <li>Appoint permanent Foundation Board
      <ul>
        <li>Establish terms of reference for the permanent Foundation Board (including criteria for membership, term lengths, quorums, voting etc)</li>
        <li>Seek open nominations for membership of the Board</li>
        <li>Select members of the Board, based on the criteria and nominations</li>
      </ul>
    </li>
    <li>Appoint Executive Director
      <ul>
        <li>Agree on a job description for the Executive Director</li>
        <li>Advertise the post and seek applications</li>
        <li>Interview, and appoint</li>
      </ul>
    </li>
    <li>Manage Interim Finances as trustees for the Foundation Board</li>
    <li>Take any other necessary decisions meanwhile : For example, if the Foundation has sufficient funds, it may start some funded projects, against an agreed technical agenda.</li>
  </ul>
  <p>The Interim Board</p>

  <ul>
    <li>Should consist of trusted individuals</li>
    <li>Can be small e.g. around six</li>
    <li>Has a limited lifetime, say 6-12 months. Its goal is to complete its mission and hand over the mantle to the permanent Board.</li>
  </ul>
  <p>The idea is that the entire membership of the permanent Board is filled through open nominations evaluated against written criteria. Members of the Interim Board can be nominated to the Foundation Board, but obviously their nomination should be judged by the other members.</p>

  <h2>The Foundation Board</h2>
  <p>It is up to the Interim Board to draft the terms of reference for the permanent Foundation Board, and it is up to the Foundation Board to maintain and refine those terms of reference. But here are some ideas as a starting point.</p>

  <h3>Remit Of The Board</h3>
  <p>The Board provides the strategic leadership for the Foundation. More specifically</p>
  <ul>
    <li>Governance: leadership and direction - set strategy, provide guidance</li>
    <li>Staff: appoint senior members of Foundation staff</li>
    <li>Define, curate and track Foundation goals</li>
    <li>Seek out opportunities to further the goals of the Foundation</li>
    <li>Represent the community: Liaise with sponsors, public bodies (ACM, standards committees) etc</li>
    <li>Ensure success and long-term continuity of the Foundation</li>
    <li>Receive and review financial accounts</li>
  </ul>
  <h3>Membership</h3>
  <p>Being a member of the Board is not an honorary post; it involves real work . There will typically be ad-hoc or permanent working groups, on which Board members are expected to serve or chair.</p>

  <ul>
    <li>The Board needs to be big enough to have a breadth of expertise and representation, but small enough to be effective. Maybe around 12 members.</li>
    <li>Vacancies should be filled via open nominations against written criteria. The board itself chooses its new members.</li>
    <li>Once appointed, board members should act in the best interests of the Foundation and the entire Haskell community; they are not appointed to represent the interests of a particular group .</li>
    <li>Members should have fixed terms, to ensure a steady turnover of members. There is a balance here: it’s a pity to lose strong, well-qualified members too quickly. Something like: three or four year terms, but with the possibility of being renewed once, and the possibility of returning after a gap.</li>
    <li>Terms should be staggered so that a similar number of members reach the end of their term at regular intervals. To bootstrap this process the Interim Board might invite some members to serve for shorter initial terms. “Regular intervals” might mean annually or every two years; again there is a balance between providing a regular “way in” and the overheads of nomination, selection, and onboarding.</li>
  </ul>
  <p>The Executive Director reports to the board, attends all board meetings, but does not vote.</p>

  <h3>Key Roles</h3>
  <ul>
    <li>Chair (elected annually by the Foundation Board members)</li>
    <li>Treasurer</li>
    <li>Secretary</li>
  </ul>
  <h3>Criteria For Membership</h3>
  <p>Taken collectively, the board should</p>

  <ul>
    <li>Include individuals with skills, expertise and experience (e.g. technical, legal, organisational, community-building) that the Board needs.</li>
    <li>Reflect the diversity (e.g. of age, gender, geographical spread) that is in the Haskell community.</li>
    <li>Include individuals who are well-equipped to reflect the priorities of Haskell’s various constituencies, including
      <ul>
        <li>Companies that use Haskell in production, and Haskell consultancies; giving this group a stronger voice is one of the HF’s main goals.</li>
        <li>Users of Haskell. That might include companies, but also includes the broader open-source community, hobbyists, etc.</li>
        <li>Sponsors: companies (or even individuals) who are funding the Foundation.</li>
        <li>People who build and run the infrastructure of the Haskell ecosystem: compilers, libraries, packaging and distribution, IDEs etc.</li>
        <li>Educators, including school, university, and commercial training courses.</li>
        <li>Functional programming researchers who build on and/or develop Haskell.</li>
      </ul>
    </li>
  </ul>
  <p>NB: nominations are also welcome from individuals who meet other criteria but do not represent any particular constituency.</p>

  <p>Additionally, no two members should be paid employees of the same organisation</p>

  <p>Simultaneously hitting all these criteria is nigh impossible. In particular, we do not want to tie the Board’s hands by specifying numbers of slots for the different constituencies described above. But these (after due process of refinement) are the criteria against which the Board can evaluate nominations, and each round of nominations is a fresh chance to rectify any imbalances. As such, the board’s composition should not be determined directly by representation of various constituencies, but rather by the ability of individuals, whatever their direct background, to understand and reflect the needs and priorities of these constituencies.</p>

  <h3>Transparency</h3>
  <p>The Board should conduct its business as transparently as possible. Specifically:</p>

  <ul>
    <li>It should publish public minutes of meetings and decisions.</li>
    <li>It should be open about its finances: where money comes from, and what it is spent on.</li>
    <li>It should conduct most conversations on a publicly-readable mailing list.</li>
  </ul>
  <p>In all cases there may be some aspects of the Board’s work that should properly be private, e.g. relating to security, staff, or money. The Board will have to make judgements about this, but the strong default is to work in public.</p>

  <h3>Sponsors</h3>
  <p>Sponsors (individuals and companies that make support the Foundation financially) play a key role; without them the Foundation is just another well-intentioned bunch of volunteers. So we propose to allocate three seats on the Board for sponsors. The exact number may change in the light of experience, but the underlying message is: sponsors are crucial, but not dominant. We hope to have lots of sponsors, so it’s impractical for them all to have a seat on the Board. It will be up to the sponsors (in consultation with the Board) to identify three people to serve on the board.</p>

  <h2>Teams</h2>
  <p>Most of the real work will get done by</p>

  <ul>
    <li>The existing Haskell community groups (GHC team, Hackage, Stackage, Cabal, Core Libraries, Haddock, etc)</li>
    <li>Teams, or working groups, formed by the Haskell Foundation for particular purposes.</li>
  </ul>
  <p>The HF teams might, for example, include</p>

  <ul>
    <li>Funding (i.e. looking for sponsors)</li>
    <li>Web site</li>
    <li>Technical advice and strategy</li>
    <li>Infrastructure</li>
    <li>Sponsors (i.e. coordinating with all the current sponsors, who may want to talk to each other directly)</li>
  </ul>
  <p>It is not the purpose of this document to specify what these are, and in any case they may come and go. ​ These teams are expected to be overseen by the HF, but to be clear, they may and will necessarily include many individuals not on the board, who can provide particular skills and expertise.</p>

  <p>We considered establishing a formal Industrial Advisory Group, or Community Forum, but concluded that was too heavyweight for now. Maybe we’ll want that in the future.</p>
{% endcall %}

{% endblock %}
