<div class="bg-white border border-gray-300 rounded py-8 px-6 sm:px-12 text-center">
  <div class="bg-gray-100 px-6 sm:px-12 lg:px-16 py-6 lg:py-24 h-full">
    <div class="space-y-4">
      <h2 class="text-center text-2xl-4xl font-normal">$title$</h2>
      <p>$summary$</p>
      <table>
        <!-- the p tags here are to work around Tailwind being incomprehensible - DTC 2023-03-01 -->
        <tr><th scope="row" style="text-align: right;">Dates:</th><td><p>$daterange$</p></td></tr>
        <tr><th scope="row" style="text-align: right;">Location:</th><td><p>$location$</p></td></tr>
      </table>
      <div class="mt-4">
        <a class="arrow-link" href="$url$">&gt;&gt; Read more</a>
      </div>
    </div>
  </div>
</div>
