<html lang="en">
<head>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- other -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" data-ssr="" name="viewport">
  <title>Haskell Foundation</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Maven+Pro:wght@400;500;700&family=Playfair+Display:wght@400;600;800&display=swap" rel="stylesheet">
  <link href="/static/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet">
  <link href="/static/fontawesome-free-5.15.2-web/css/regular.css" rel="stylesheet">
  <link href="/static/fontawesome-free-5.15.2-web/css/brands.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/static/js/main.js" defer></script>
</head>
<body class="relative">

<!-- This is the mobile fly-out menu - outside document flow. -->
$partial("templates/mobile-nav-flyout.html")$

<!-- Document flow begins here -->
<div class="min-h-screen flex flex-col">
  <div>
    $partial("templates/nav.html")$
  </div>

  <div class="flex-grow">
    $body$
  </div>

  $partial("templates/footer.html")$
</div>

</body>
</html>
