<div class="max-w-screen-xl mx-auto px-4 sm:px-12 md:px-12 lg:px-16 py-16 md:py-24">
  $partial("templates/section.html")$
  <div class="text-center pt-12">
    <h1 class="text-3xl-5xl">Follow HF Developments</h1>
    <p class="mt-4 text-gray-500 ">Follow us on <a class="fab fa-twitter text-2xl px-2 align-middle"></a> or join a mailing list</p>
  </div>

  <div class="mt-10 md:mt-12 lg:mt-16 xl:mt-20 grid gap-8 md:grid-cols-2">
    <div class="border border-gray-300 rounded py-8 px-6 sm:px-12 text-center">
      <h3 class="font-semibold text-xl">HF-announce email list</h3>
      <p class="mt-6">
        This list will have infrequent traffic announcing major news from the Haskell Foundation. It is expected that all messages will come from HF or its designees.
      </p>
      <div class="mt-8 flex flex-col gap-6 sm:flex-row justify-around md:flex-col lg:flex-row">
        <div>
          <a class="arrow-link" href="">>> Archives</a>
        </div>
        <div>
          <a class="arrow-link" href="">>> Subscribe</a>
        </div>
      </div>
    </div>
    <div class="border border-gray-300 rounded py-8 px-6 sm:px-12 text-center">
      <h3 class="font-semibold text-xl">HF-discuss email list</h3>
      <p class="mt-6">
        Joining this list is a great way to discuss and participate. All participation is expected to conform to the Guidelines for Respectful Communication.
      </p>
      <div class="mt-8 flex flex-col gap-6 sm:flex-row justify-around md:flex-col lg:flex-row">
        <div>
          <a class="arrow-link" href="">>> Archives</a>
        </div>
        <div>
          <a class="arrow-link" href="">>> Subscribe</a>
        </div>
      </div>
    </div>
  </div>

</div>
