<div class="grid gap-8 md:grid-cols-2">
  <div class="bg-white border border-gray-300 rounded py-8 px-6 sm:px-12 text-center">
    <h3 class="font-semibold text-xl">HF-announce email list</h3>
    <p class="mt-6">
      This list will have infrequent traffic announcing major news from the Haskell Foundation. It is expected that all messages will come from HF or its designees.
    </p>
    <div class="mt-8 flex flex-col gap-6 sm:flex-row justify-around md:flex-col lg:flex-row">
      <div>
        <a class="arrow-link" href="https://mail.haskell.org/pipermail/hf-announce/">>> Archives</a>
      </div>
      <div>
        <a class="arrow-link" href="https://mail.haskell.org/cgi-bin/mailman/listinfo/hf-announce">>> Subscribe</a>
      </div>
    </div>
  </div>
  <div class="bg-white border border-gray-300 rounded py-8 px-6 sm:px-12 text-center">
    <h3 class="font-semibold text-xl">HF-discuss email list</h3>
    <p class="mt-6">
      Joining this list is a great way to discuss and participate. All participation is expected to conform to the <a href="https://haskell.foundation/guidelines-for-respectful-communication/">Guidelines for Respectful Communication</a>.
    </p>
    <div class="mt-8 flex flex-col gap-6 sm:flex-row justify-around md:flex-col lg:flex-row">
      <div>
        <a class="arrow-link" href="https://mail.haskell.org/pipermail/hf-discuss/">>> Archives</a>
      </div>
      <div>
        <a class="arrow-link" href="https://mail.haskell.org/cgi-bin/mailman/listinfo/hf-discuss">>> Subscribe</a>
      </div>
    </div>
  </div>
</div>
