<div class="max-w-screen-xl mx-auto text-center sm:px-12 md:px-12 lg:px-16 mt-32">
  <div class="font-bold">SPONSORS</div>
  <div class="mt-16 flex flex-wrap justify-center gap-8">
    <a class="block w-36"><img alt="GitHub" src="/static/images/sponsors/github/github-683.png" srcset="
      /static/images/sponsors/github/github-200.png 200w,
      /static/images/sponsors/github/github-400.png 400w,
      /static/images/sponsors/github/github-683.png 683w"></a>
    <a class="block w-36"><img alt="Input | Output" src="/static/images/sponsors/iohk/iohk-683.png" srcset="
      /static/images/sponsors/iohk/iohk-200.png 200w,
      /static/images/sponsors/iohk/iohk-400.png 400w,
      /static/images/sponsors/iohk/iohk-683.png 683w"></a>
    <a class="block w-36"><img alt="skills matter" src="/static/images/sponsors/skills-matter/skills-matter-683.png" srcset="
      /static/images/sponsors/skills-matter/skills-matter-200.png 200w,
      /static/images/sponsors/skills-matter/skills-matter-400.png 400w,
      /static/images/sponsors/skills-matter/skills-matter-683.png 683w"></a>
    <a class="block w-36"><img alt="TWEAG" src="/static/images/sponsors/tweag/tweag-683.png" srcset="
      /static/images/sponsors/tweag/tweag-200.png 200w,
      /static/images/sponsors/tweag/tweag-400.png 400w,
      /static/images/sponsors/tweag/tweag-683.png 683w"></a>
    <a class="block w-36"><img alt="Well-Typed" src="/static/images/sponsors/well-typed/well-typed-683.png" srcset="
      /static/images/sponsors/well-typed/well-typed-200.png 200w,
      /static/images/sponsors/well-typed/well-typed-400.png 400w,
      /static/images/sponsors/well-typed/well-typed-683.png 683w"></a>
    <a class="block w-36"><img alt="Obsidian Systems" src="/static/images/sponsors/obsidian-systems/obsidian-systems-683.png" srcset="
      /static/images/sponsors/obsidian-systems/obsidian-systems-200.png 200w,
      /static/images/sponsors/obsidian-systems/obsidian-systems-400.png 400w,
      /static/images/sponsors/obsidian-systems/obsidian-systems-683.png 683w"></a>
    <a class="block w-36"><img alt="FLIPSTONE" src="/static/images/sponsors/flipstone/flipstone-683.png" srcset="
      /static/images/sponsors/flipstone/flipstone-200.png 200w,
      /static/images/sponsors/flipstone/flipstone-400.png 400w,
      /static/images/sponsors/flipstone/flipstone-683.png 683w"></a>
  </div>
</div>

<div class="mt-20 bg-black w-full py-20">
  <div class="max-w-screen-xl mx-auto text-gray-500 text-center text-lg px-6 lg:px-16">
    
    <div class="flex flex-col space-y-8 lg:flex-row lg:space-y-0">
      <div class="lg:flex space-y-4 lg:gap-2 lg:flex-grow lg:space-y-0">
        <div class="font-medium">To learn more about the Haskell Foundation </div>
        <div>
          <a href="/contact" class="arrow-link light">>> contact us</a>
        </div>
      </div>
      <a href="" class="text-4xl block"><span class="fab fa-twitter"></span></a>
    </div>

    <div class="mt-16 flex flex-col space-y-4 lg:flex-row lg:space-x-8 lg:space-y-0">
      <img src="/static/images/haskell-foundation-logo-gray.svg" class="h-8" />
      <div class="font-medium">2020 © Haskell Foundation</div>
    </div>

  </div>
</div>
