<div class="max-w-screen-xl mx-auto text-center sm:px-12 md:px-12 lg:px-16 mt-32">
  <div class="font-bold">SPONSORS</div>
  <div class="mt-16 flex flex-wrap justify-center">
    <a href="https://github.com/" target="_blank" class="block w-36 m-4"><img alt="GitHub" src="/static/images/sponsors/github/github-683.png" srcset="
      /static/images/sponsors/github/github-200.png 200w,
      /static/images/sponsors/github/github-400.png 400w,
      /static/images/sponsors/github/github-683.png 683w"></a>
    <a href="https://iohk.io/" target="_blank" class="block w-36 m-4"><img alt="Input | Output" src="/static/images/sponsors/iohk/iohk-683.png" srcset="
      /static/images/sponsors/iohk/iohk-200.png 200w,
      /static/images/sponsors/iohk/iohk-400.png 400w,
      /static/images/sponsors/iohk/iohk-683.png 683w"></a>
    <a href="https://digitalasset.com/" target="_blank" class="block w-36 m-4"><img alt="Digital Asset" src="/static/images/sponsors/digital-asset/digital-asset-logo-light.png" srcset="/static/images/sponsors/digital-asset/digital-asset-logo-light.png"></a>
  </div>

  <div class="mt-16 flex flex-wrap justify-center">
    <a href="https://tweag.io/" target="_blank" class="block w-36 m-4"><img alt="TWEAG" src="/static/images/sponsors/tweag/tweag-683.png" srcset="
      /static/images/sponsors/tweag/tweag-200.png 200w,
      /static/images/sponsors/tweag/tweag-400.png 400w,
      /static/images/sponsors/tweag/tweag-683.png 683w"></a>
    <a href="https://well-typed.com/" target="_blank" class="block w-36 m-4"><img alt="Well-Typed" src="/static/images/sponsors/well-typed/well-typed-683.png" srcset="
      /static/images/sponsors/well-typed/well-typed-200.png 200w,
      /static/images/sponsors/well-typed/well-typed-400.png 400w,
      /static/images/sponsors/well-typed/well-typed-683.png 683w"></a>
    <a href="https://obsidian.systems/" target="_blank" class="block w-36 m-4"><img alt="Obsidian Systems" src="/static/images/sponsors/obsidian-systems/obsidian-systems-683.png" srcset="
      /static/images/sponsors/obsidian-systems/obsidian-systems-200.png 200w,
      /static/images/sponsors/obsidian-systems/obsidian-systems-400.png 400w,
      /static/images/sponsors/obsidian-systems/obsidian-systems-683.png 683w"></a>
    <a href="https://www.emqx.io/" target="_blank" class="block w-36 m-4"><img alt="EMQ" src="/static/images/sponsors/emq/emq.png" srcset="
      /static/images/sponsors/emq/emq.png"></a>
    <a href="https://www.exfreight.com/" target="_blank" class="block w-36 m-4"><img alt="ExFreight" src="/static/images/sponsors/exfreight/exfreight.png" srcset="
      /static/images/sponsors/exfreight/exfreight.png"></a>
  </div>

  <div class="mt-16 flex flex-wrap justify-center">
    <a href="https://flipstone.com/" target="_blank" class="block w-36 m-4"><img alt="FLIPSTONE" src="/static/images/sponsors/flipstone/flipstone-683.png" srcset="
      /static/images/sponsors/flipstone/flipstone-200.png 200w,
      /static/images/sponsors/flipstone/flipstone-400.png 400w,
      /static/images/sponsors/flipstone/flipstone-683.png 683w"></a>
    <a href="https://mercury.com/" target="_blank" class="block w-36 m-4"><img alt="Mercury Bank" src="/static/images/sponsors/mercury/mercury.png" srcset="
      /static/images/sponsors/mercury/mercury.png"></a>
    <a href="https://tripshot.com/" target="_blank" class="block w-36 m-4"><img alt="TripShot" src="/static/images/sponsors/tripshot/Tripshot_Logo_RGB.png"></a>
  </div>
</div>

<div class="mt-20 bg-gray-800 w-full py-20">
  <div class="max-w-screen-xl mx-auto text-gray-300 text-lg px-6 lg:px-16">

    <div class="flex flex-col space-y-8 text-center lg:flex-row lg:space-y-0">
      <div class="lg:flex space-y-4 lg:gap-2 lg:flex-grow lg:space-y-0">
        <div class="font-medium mt-1">To learn more about the Haskell Foundation </div>
        <div class="ml-2">
          <a href="/contact" class="arrow-link light">>> contact us</a>
        </div>
      </div>

      <div class="flex space-x-4 w-44">
        <a href="https://twitter.com/haskellfound" target="_blank" class="text-4xl block"><span class="fab fa-twitter"></span></a>
        <a href="https://www.linkedin.com/company/haskell-foundation-inc" target="_blank" class="text-4xl block"><span class="fab fa-linkedin-in"></span></a>
        <a href="https://discourse.haskell.org/c/haskell-foundation/11" target="_blank" class="text-4xl block"><span class="fab fa-discourse"></span></a>
      </div>
    </div>

    <div class="flex flex-row">
      <div class="mt-16 flex flex-col text-center flex-grow lg:flex-row lg:space-x-8 lg:space-y-0">
        <img src="/static/images/logos/hf-logo-100-alpha.png" class="h-8" />
        <div class="font-medium">2021 © Haskell Foundation</div>
      </div>

      <div class="text-sm mt-6 flex ml-8 flex-col justify-items-start text-left">
        <div>Haskell Foundation, Inc.</div>
        <div>2093 Philadelphia Pike #8119</div>
        <div>Claymont, DE 19703</div>
        <div>USA</div>
      </div>
    </div>

  </div>
</div>
